*{
    margin: 0;
    padding: 0;
}

/* top menu starts */
.top_menu{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.877);
    z-index: 1;
}
.top_menu1{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 0;
}
.top_header{
    display: flex;
    margin: 0;
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.down_icon{
    padding-left: 10px;
    padding-top: 6px;
}
.menubar_icon{
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 25px;
}
.top_menu2{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    margin: 0 40px 0 40px;
}
.top_text{
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}
.top_text:hover{
    border-top: 2px solid rgb(2, 192, 240);
    cursor: pointer;
}
.logo{
    padding-left: 40px;
}
/* top menu ends */

/* glaxy z starts */
.galaxyz{
    background-color: rgb(244, 244, 244);
    height: 1080vh;
    width: 100%;
}
.z_image1{
    padding-left: 40px;
}
.z_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: 10px;
}
.text_top{
    justify-content: center;
    text-align: center;
}
.text_top1{
    color: rgb(168, 155, 155);
    font-size: 13px;
}
.text_top2 .text_top3 .text_top4{
    color: rgb(116, 99, 98);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* glaxy z ends */

/* 1st grid starts */
.grid_1{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 300px;
    gap: 22px;
    margin: 20px;
}
.grid_1_video_1{
    background-color: white;
    grid-column: 1/ span 3;
    height: 300px;
    overflow: hidden;
    font-size: 18px;
    position: relative;
    border-radius: 20px;
}
.p_flex{
    position: absolute;
    bottom: 0;
    padding: 0px 0px 10px 10px;
}
.grid_1_video_2{
    grid-column: 4;
    grid-row: 1/ span 2;
    background-color: white;
    overflow: hidden;
    border-radius: 25px;
}
.p_design{
    padding: 5px 0px 0px 15px;
    font-size: 18px;
    position: absolute;
}
.grid_1_img_1{
    height: 300px;
    position: relative;
    background-color: white;
    overflow: hidden;
    border-radius: 25px;
}
.p_camera{
    position: absolute;
    font-size: 18px;
    padding: 15px;
    top: 0;
    color: white;
}
.grid_1_img_2{
    height: 300px;
    position: relative;
    background-color: white;
    overflow: hidden;
    border-radius: 25px;
}
.p_mood{
    position: absolute;
    font-size: 18px;
    padding: 15px;
    top: 0;
}
.grid_1_img_3{
    height: 300px;
    position: relative;
    background-color: white;
    overflow: hidden;
    border-radius: 25px;
}
.p_battery{
    position: absolute;
    font-size: 18px;
    padding: 15px;
    top: 0;
}
/* 1st grid ends */
/* 2nd grid starts */
.gird_2{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    padding: 45px 20px 20px 20px;
}
.small{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}
.small_img{
    border-radius: 20px;
    padding-left: 10px;
}
.exp{
    padding-left: 10px;
}
.grid_text_1{
    display: flex;
    background-color: white;
    height: 250px;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 20px;
}
.grid_text1{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
}
.grid_text2{
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    padding: 15px 0px 15px 0px;
}
.grid_text3{
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    padding-top: 25px;
}
/* 2nd grid ends */

.down_btn{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 50px;
}
.down_btn1{
    color: rgb(199, 192, 181);
}
/* big parts start */
.big_video_part{
    margin-top: 100px;
    overflow: hidden;
    background-color: white;
    width: 80vw;
    margin-left: 10%;
    border-radius: 45px;
}
.big_video{
    width: 80vw;
}
.big_video_text{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.big_video_text_1{
    font-size: 60px;
    font-weight: bolder;
    padding: 0% 6% 0% 10%;
}
.big_video_text_2{
    padding: 5% 6% 10% 10%;
}
.phones_pic_1{
    display: flex;
    position: relative;
    justify-content: center;
    width: 80vw;
}
.phone_pic_1_text{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 40vw;
    right: 5%;
    bottom: 0%;
}
.phone_pic_1_text1{
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    padding-bottom: 5px;
}
.phone_pic_1_text2{
    padding-top: 20px;
    font-size: 15px;
}
.phone_pic_1_text3{
    padding-top: 20px;
    font-size: 15px;
    color: rgb(168, 155, 155);
}
.choose{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 10% 15% 12% 20%;
}
.choose_p_1{
    grid-row: 1/ span 3;
    font-size: 35px;
    font-weight: bolder;
}
.choose_p_2{
    font-size: 15px;
    color: rgb(136, 130, 130);
    padding-bottom: 60px;
}

.btn_btn{
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    height: 5vh;
    width: 7vw;
    cursor: pointer;
    font-weight: bold;
}
.btn_btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.main_area_1{
    position: absolute;
}
.main_part1{
    display: flex;
    position: absolute;
    top: -8%;
    left: 0;
}
.mnt{
    background-color: rgb(244,244,244);
    height: 11vh;
    width: 27vw;
    border-radius: 25px 35px 0 0;
    margin-left: 40%;
    clip-path: polygon(0% 0%, 59% 0, 78% 47%, 0 47%);
}
.mint{
    padding: 3%;
    font-size: 23px;
}
.cirsles_main1{
    display: flex;
    justify-content: center;
}
.green{
    height: 35px;
    width: 35px;
    color: rgb(200,217,211);
    font-size: 35px;
    padding: 0 8px 5px 0px;
}
.black{
    height: 35px;
    width: 35px;
    color: rgb(83,86,90);
    font-size: 35px;
    padding: 0 8px 5px 0px;
}
.cream{
    height: 35px;
    width: 35px;
    color: rgb(240,234,225);
    font-size: 35px;
    padding: 0 8px 5px 0px;
}
.purple{
    height: 35px;
    width: 35px;
    color: rgb(215,198,216);
    font-size: 35px;
    padding: 0 8px 5px 0px;
}
.cir{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 70px;
    height: 30px;
    width: 27px;
    margin-right: 10px;
}
.cir:hover{
    border: 2px solid rgb(32, 203, 255);
}
.phone_imgs_part_2{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 23px;
    width: 80vw;
    border-radius: 20px;
    background-color: white;
}
.phone_full{
    grid-row: 1/span 2;
    height: 60vh;
    border-radius: 25px;
}